// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.image-placeholder{
    width: 100px;
    height: 100px;
    background: $yellow;
    text-align: center;
    background-size: auto;
}

input[type=text] {
    height: 100%;
    width: 100% !important;

}

.preview-container{
    float: left;
}

td{
    padding: 0 20px 0 20px;
}
